sandbox
*.DS_Store
*.pyc

builds/*.apk

changes/*.log

master/gitpoller-workdir
master/nightly
master/weekly
master/continuously
master/public_html
master/templates
master/buildbot.tac
master/*.log
master/*.pid
master/*.sqlite*
master/config.py

master/master.cfg.sample

slave/
