AUTH_USER = "pyflakes"
AUTH_PSW = "pyflakes"

SLAVE_NAME="example-slave"
SLAVE_PSW="pass"

MAIL_USER="dunno@gmail.com"
MAIL_PSW="dunno"

MAIL_RECIPIENTS = ["stagi.andrea@gmail.com"]

REPOSITORY="git@github.com:test/test.git"

RELEASE_STEP = "./gradlew release;"
MAKE_STEP = "./gradlew assembleDebug;"
TEST_STEP = "./gradlew test;"

ANDROID_HOME = "/Users/dunno/android-sdk"

BUILDBOT_PORT = 8010